<h4>Books</h4>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>

  <td><%= book.title %></td>
  <td><%= book.body %></td>
  
<% end %>
</tbody>  
</table>
<h1>New book</h1>

<%= form_with model: Book.new do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
	
  <h4>body</h4>
  <%= f.text_area :body %>
	<br>
  <%= f.submit 'Create Book' %>
<% end %>