<%= flash[:notice] %>

<p><strong>Title:</strong><%= @book.title %></p>


<p><strong>Body:</strong><%= @book.body %></p>

<td>
  <%= link_to "Edit", edit_book_path(@book.id) %>
</td>
<td>
  <%= link_to "Back", books_path %>
</td>
  
